# Compressed files
*.tar

# MATLAB files
*.m

# FORTRAN files
*.f

# C files
*.c

# Output files from C and FORTRAN
*.o

# Solution files
*.nrm

# Folders
OriginalCodes/
ReferenceBooks/

# IPython notebook files
.ipynb_checkpoints

# PDFs
*.pdf

# Atom ctags
.tags*

# Fuse
.fuse*

# Data and output 
*.dat
*.out
