# Compressed files
*.tar

# MATLAB files
*.m

# FORTRAN files
*.f

# C files
*.c

# Output files from C and FORTRAN
*.o

# Solution files
*.nrm

# Folders
doc/build/
doc/site/

# IPython notebook files
.ipynb_checkpoints

# PDFs
*.pdf

# Atom ctags
.tags*

# Fuse
.fuse*

# Data and output
*.dat
*.out

# Scripts
compile
juliav4
